body{
    background-color: #ece8d8;
}

h1{
    text-align: center;
    font-size: 30pt;
}

#quadrado{
    background-color: #c98181;
    width: 450px;
    height: 400px;
    font-size: 25pt;
    margin: auto;
    text-align: center;
    
    
}

input{
    margin-top: 30px;
    width: 200px;
    height: 30px;
}